*{
	margin: 0;
	padding: 0;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    text-shadow: -1px -1px 1px #aaa,
            1px 1px 1px white,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
    }
p{
    font-size: 18px;
    font-weight: bold;
}
span{
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
}
#winOrLose{
    font-size: 22px;
    font-weight: bold;
    color: orange;
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(style.css) no-repeat;
    background-size: cover;
}
.container{
    width: auto;
    float: center;
    text-align: center;
    padding-bottom: 1em;
    }
.center, h1{
	text-align: center;	
}
.button {
    border: 0;
    height: 225px;
    width: 225px;
    display: inline-block;
    margin: 0px 2px 0px 2px;
    box-shadow: 0px 3px 8px #43484c;
    border-radius: 15px 5px 15px 5px;
    background: gray;
    
    }
.button:nth-child(even){
    border-radius: 5px 15px 5px 15px;
}
#b0:hover{
    border: solid 1px green;
}
#b0:active{
    background: green;
    transform: translateY(3px);
}
#b1:hover{
    border: solid 1px red;
}
#b1:active{
    background: red;
    transform: translateY(3px);
}
#b2:hover{
    border: solid 1px blue;
}
#b2:active{
    background: blue;
    transform: translateY(3px);
}
#b3:hover{
    border: solid 1px yellow;
}
#b3:active{
    background: yellow;
    transform: translateY(3px);
}
#start{
    border: 1px solid white;
    height: auto;
    width: 125px;
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
    box-shadow: 0px 3px 8px white;
}
#start:hover{
    border: 1px solid orange;
}
#start:active{
    opacity: 0.2;
    background: transparent;
    transform: translateY(3px);
}